@{
    ViewData["Title"] = "Pagina de Alunos";
}

<body>
    <div>
        <div class="row">
            <div class="col-6">
                <h1>Tabela de Alunos</h1>
            </div>
            <div class="col-6 text-right">
                <!-- Botão cadastrar -->
                <a role="button" class="btn dev-bg-color-musgo text-white" asp-controller="AdministradorAluno" asp-action="Cadastro">Cadastrar Aluno</a>
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>


        <!-- Checkbox de filtro de busca -->
        <div class=" form-check-inline">
            <b>Opção de busca: &nbsp;</b>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
            <label class="form-check-label" for="inlineRadio1">Matricula</label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
            <label class="form-check-label" for="inlineRadio2">Nome</label>
        </div>
        <div class=" form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="opcao3">
            <label class="form-check-label" for="inlineRadio3">Estado</label>
        </div>

        <form class="form-row">
            <div class="form-group mb-2 col-5">
                <label for="inputPassword2" class="sr-only "></label>
                <input type="text" class="form-control " id="inputPassword2" placeholder="Matrícula ou nome do aluno">
            </div>
            <div class="col-5">
                <button type="submit" class="btn dev-bg-color-musgo text-white mb-2 ">Buscar</button>

            </div>
        </form>

        <!-- Tela dos alunos cadastrados -->

        <table class="table table-hover table-secondary table-bordered">
            <thead class="dev-bg-color-teal">
                <tr class="text-white text-center">
                    <th scope="col">Matricula</th>
                    <th scope="col" class="col-3">Nome</th>
                    <th scope="col" class="col-1">Sexo</th>
                    <th scope="col" class="col-1">UF</th>
                    <th scope="col" class="col-2">Data de Nascimento</th>
                    <th scope="col" class="col-2">CPF</th>
                    <th scope="col" class="col-2">Opções</th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var aluno in Model)
                {
                    <tr>
                        <td>@aluno.Matricula</td>
                        <td>@aluno.Nome</td>
                        <td>@aluno.Sexo</td>
                        @* <td>@aluno.Cidade.UF</td> *@
                        <td>@aluno.Nascimento</td>
                        <td>@aluno.CPF</td>
                        <td>
                            <div class="d-grid gap-2 d-md-block row text-center">
                                <a type="button" class="btn btn-fixed-width dev-bg-color-musgo dev-botao-largura text-white text-center" asp-controller="AdministradorAluno" asp-action="Editar">
                                    <i class="material-symbols-outlined" style="font-size: 18px; vertical-align: middle;">stylus</i>Editar
                                </a>

                                <a type="button" class="btn btn-fixed-width dev-botao-largura btn-secondary text-center text-white" data-toggle="modal" data-target="#ExemploModalCentralizado">
                                    <i class="material-symbols-outlined" style="font-size: 18px; vertical-align: middle;">stylus</i>Excluir
                                </a>
                            </div>
                        </td>
                    </tr>
                } 
            </tbody>
        </table>
    </div>
</body>

<!-- Forms de deletar aluno -->

<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center " id="TituloModalCentralizado"> Tem certeza que deseja excluir esse aluno?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="/images/danger.png" class="dev-image-danger" alt="Image" />
                <h4>Nome: - Matricula: </h4>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-lg dev-botao-largura" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger btn-lg dev-botao-largura">Excluir</button>
            </div>
        </div>
    </div>
</div>
